@charset "UTF-8";

html, body {
	width: 100%;
	height: 100%;
	overflow: auto;
}

body {
	padding-top: 90px;	/* navbarの高さ＋α */
}

#divLoading {
	position: fixed;
	top: 0;
	left: 0;
}

.dropdown-menu li:hover {
	cursor: pointer;
}

/*
#divListFunc {
	margin-bottom: 10px;
}

#divListFunc a {
	margin-right: 5px;
}
#divListFunc i {
	margin-right: 5px;
}
*/

#divContent {
	height: 100%;
}